{% extends "base.html" %}

{% block content %}
<h3 class="mb-4">Admin Panel</h3>
<div class="row">
    <div class="col">
        <form action="/admin/user/create" method="POST">
            <div class="mb-3">
                <label for="usernameInput" class="form-label">User</label>
                <input class="form-control" id="usernameInput" name="username">
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input class="form-control" type="password" id="passwordInput" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
        <hr>
        <ul class="list-group">
            {% for user in users %}
                <li class="d-flex align-items-center list-group-item">
                    {{user.username}}
                    <div class="d-flex gap-4 align-items-center ms-auto">
                        <form action="/api/admin/user/{{user.id}}/update" method="POST">
                            <label class="form-label m-0">
                                <input type="checkbox" class="form-check-input" name="admin" {% if user.admin %}checked{% endif %} oninput="this.form.submit()">
                                Admin
                            </label>
                        </form>
                        <form action="/api/admin/user/{{user.id}}/delete" method="POST">
                            <button type="submit" class="btn btn-danger px-2 p-0" type="button">-</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}