{% extends "base.html" %}

{% block content %}
<h3 class="mb-4">Change "{{ username }}" Password</h3>
<form action="/change-password/{{ username }}" method="POST">
    <div class="mb-3">
        <label for="oldPasswordInput" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="oldPasswordInput" name="oldPassword">
    </div>
    <div class="mb-3">
        <label for="newPasswordInput" class="form-label">New Password</label>
        <input type="password" class="form-control" id="newPasswordInput" name="newPassword">
    </div>
    <div class="mb-3">
        <label for="confirmPasswordInput" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" id="confirmPasswordInput" name="confirmPassword">
    </div>
    <button type="submit" class="btn btn-primary">Change</button>
</form>
{% endblock %}