{% extends "base.html" %}

{% block content %}
<h3 class="mb-4">Login</h3>
<form method="POST">
    <div class="mb-3">
        <label for="usernameInput" class="form-label">User</label>
        <input class="form-control" id="usernameInput" name="username">
    </div>
    <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <input class="form-control" type="password" id="passwordInput" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}