{% extends "base.html" %}

{% block head %}
<script src="/static/module.js"></script>
{% if module.script %}
    <script>
        const isClientSide = true;
        const clientSideFunction = new Function(`
            const type = arguments[0];
            const data = arguments[1];
            {{ module.script | safe }}
        `)
    </script>
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ module.name }}</h1>
<form id="form" class="d-flex flex-column gap-3">
    {% for item in module.layout %}

    <div class="{{ item.element_type }}" id="container-{{ item.id }}">
        {% if item.element_type == "input" %}
            <label for="{{ item.id }}" class="form-label">{{ item.name }}</label>
            {% if item.textarea %}
            <textarea class="form-control" id="{{ item.id }}" rows="3" placeholder="{{ item.placeholder }}"
                name="{{ item.id }}">{{ args.get(item.id, item.value) }}</textarea>
            {% else %}
            <input type="{{ item.type }}" value="{{ args.get(item.id, item.value) }}" name="{{ item.id }}"
                class="form-control" id="{{ item.id }}" placeholder="{{ item.placeholder }}">
            {% endif %}
        
        {% elif item.element_type == "submit" %}
            <div class="d-flex flex-column gap-3">
                <button class="btn btn-primary" name="submit" value="{{ item.id }}" type="submit">{{ item.name }}</button>
                <div class="alert alert-danger d-none" role="alert" id="{{ item.id }}-error"></div>
            </div>
        
        {% elif item.element_type == "select" %}
            <label for="{{ item.id }}" class="form-label">{{ item.name }}</label>
            <select name="{{ item.id }}" id="{{ item.id }}" class="form-select">
                {% for option in item.options %}
                <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>

        {% elif item.element_type == "key_value" %}
            <label for="{{ item.id }}" class="form-label">{{ item.name }}</label>
            <div id="{{ item.id }}" class="d-flex flex-column gap-2">
                <script>addKeyValueRow("{{ item.id }}")</script>
            </div>
            <button class="btn btn-primary mt-2" type="button" value="{{ item.id }}" onclick="addKeyValueRow('{{ item.id }}')">+</button>

        {% else %}
            <p>{{ item.element_type }}</p>
        {% endif %}
    </div>
    {% endfor %}
</form>
{% endblock %}