{% extends "base.html" %}

{% block content %}
<h3 class="mb-4">Tasks</h3>
<div class="list-group">
    {% for task in tasks.values() %}
    <div class="list-group-item list-group-item-action d-flex justify-content-between">
        <div class="d-flex gap-2 text-nowrap align-items-center">
            <form method="post" action="/tasks/stop?id={{task.id}}" class="d-flex align-items-center">
                <button class="btn btn-link p-2 d-flex align-items-center">
                    <img src="/static/assets/icons/stop.svg">
                </button>
            </form>
            {{ task.name }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}